OPENAI_API_KEY=<chave_openai>
LANGCHAIN_API_KEY=<chave_langchain>
LANGCHAIN_TRACING_V2=true
LANGSMITH_PROJECT="copilot_kit_langsmith"
TAVILY_API_KEY=<chave_tavily>
GROQ_API_KEY=<chave_groq>

PORT=8080

DATABASE_URL=postgresql://postgres:secret@localhost:5432/sample_agent
DB_POOL_SIZE=10
DEV_MODE=true